<div class="jumbotron">
  <div class="container">
    <h1>About</h1>
    <p>
        This app is my bac diploma project. It is made with <b>MEAN Stack</b> (MongoDB, Express.js, Angular.js and Node.js) technology. I use <b>Gulp.js</b> to compile SASS files, <b>BrowserSync</b> for frontend and <b>Git</b> for version controle. The app also uses <b>ServiceWorker</b> to cache some files for offline use and native <b>JavaScript Notification API</b> to notify about prepared order.
    </p>
    <p>
        Using the app the user can order food in the restaurants, book for a specific time and don't wait in the queue. After booking they get a code to show the seller.
    </p>


    <p>
        Kryvyi Rih Ecomomic University
        <!-- <br> -->
        <!-- Software Engenering -->
        <br>
        2016
    </p>
  </div>
</div>
